.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle:not(:focus) {
    outline: 0;
  }

  .main-color{
    background: linear-gradient(rgb(186, 210, 248), pink, white, pink, rgb(186, 210, 248))
  }


  .navbar{
    background-color: pink;
  }

  li:hover{
    background-color: rgb(184, 184, 255);
    padding: 5px 10p;
  }

  p{
    font-weight: 400;
  }

  .blue{
    background-color: rgb(186, 210, 248);
  }